<a href="https://colab.research.google.com/github/EDodson04/First-Project-DA/blob/main/TEDA_Module3_practice_Dodson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
import requests

In [4]:
requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

'<!DOCTYPE html>\n<html>\n<head>\n    <title>Employees Table</title>\n    <style>\n        table {\n            border-collapse: collapse;\n            width: 50%;\n            margin: 20px auto;\n            font-family: \'Gill Sans\', \'Gill Sans MT\', Calibri, \'Trebuchet MS\', sans-serif;\n        }\n        th, td {\n            border: 1px solid #ddd;\n            padding: 8px;\n            text-align: left;\n        }\n        tr:nth-child(odd) {\n            background-color: #ddd;\n        }\n        tr:nth-child(odd):hover {\n            background-color: #ccc;\n        }\n        tr:nth-child(even):hover {\n            background-color: #eee;\n        }\n        th {\n            cursor: pointer;\n            background-color: #222;\n            color: #eee\n        }\n        th:hover {\n            background-color: #333;\n        }\n        h1{\n            text-align: center;\n            font-family: \'Franklin Gothic Medium\', \'Arial Narrow\', Arial, sans-serif;\n            font-size: 80px;\n            font-kerning: normal;\n            color: #7d231f;\n            \n        }\n        h2{\n            text-align: center;\n            font-family: \'Franklin Gothic Medium\', \'Arial Narrow\', Arial, sans-serif;\n            font-size: 60px;\n            font-kerning: normal;\n            color: #4e0c09;\n            \n        }\n        p {\n            font-family: \'Courier New\', Courier, monospace;\n            font-size: large;\n        }\n    </style>\n</head>\n<body>\n    <p>This page was created using HTML, CSS, and JavaScript. The HTML code provides the structure of the page, the CSS determines how each element should be formatted, and JavaScript determines how the user can interact with the web page. In this case, JavaScript allows users to click the column names of the table below to sort the data.</p>\n    <h1>Employees</h1>\n    <table id="data-table">\n        <thead>\n            <tr>\n                <th onclick="sortTable(0)">ID</th>\n                <th onclick="sortTable(1)">Name</th>\n                <th onclick="sortTable(2)">Age</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr class="employee">\n                <td>101</td>\n                <td>John Doe</td>\n                <td>28</td>\n            </tr>\n            <tr class="employee">\n                <td>102</td>\n                <td>Jane Smith</td>\n                <td>32</td>\n            </tr>\n            <tr class="employee">\n                <td>103</td>\n                <td>Robert Johnson</td>\n                <td>24</td>\n            </tr>\n            <tr class="employee">\n                <td>104</td>\n                <td>Mary Johnson</td>\n                <td>29</td>\n            </tr>\n            <tr class="employee">\n                <td>105</td>\n                <td>Michael Brown</td>\n                <td>35</td>\n            </tr>\n            <tr class="employee">\n                <td>106</td>\n                <td>Susan Davis</td>\n                <td>27</td>\n            </tr>\n            <tr class="employee">\n                <td>107</td>\n                <td>David Wilson</td>\n                <td>31</td>\n            </tr>\n            <tr class="employee">\n                <td>108</td>\n                <td>Linda Miller</td>\n                <td>33</td>\n            </tr>\n        </tbody>\n    </table>\n<h2>Why it\'s important</h2>\n<p>As you might be able to see, the actual data of this web page is stored in the HTML code. Both CSS and JavaScript have nothing to do with the actual data itself, but mostly just make the page look and work better. Thus, for web scraping the data from this page, only a knowledge of HTML is required.</p>\n<p>However, more modern websites don\'t always deliver the data in nice HTML tables. CSS is often used as a locator to locate the data inside of a particular table. Furthermore, more and more websites nowadays deliver empty HTML pages that are later populated with JavaScript processes to stop others from web scraping their sites. These issues are important to know about when performing web scraping.</p>\n    <script>\n        function sortTable(column) {\n            var table, rows, switching, i, x, y, shouldSwitch;\n            table = document.getElementById("data-table");\n            switching = true;\n\n            while (switching) {\n                switching = false;\n                rows = table.rows;\n\n                for (i = 1; i < (rows.length - 1); i++) {\n                    shouldSwitch = false;\n                    x = rows[i].getElementsByTagName("td")[column];\n                    y = rows[i + 1].getElementsByTagName("td")[column];\n\n                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {\n                        shouldSwitch = true;\n                        break;\n                    }\n                }\n\n                if (shouldSwitch) {\n                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);\n                    switching = true;\n                }\n            }\n        }\n    </script>\n</body>\n</html>\n'

In [9]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [10]:
from bs4 import BeautifulSoup

In [11]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [12]:
soup = BeautifulSoup(response, 'html.parser')

In [13]:
soup.find('title')

In [14]:
soup.find_all('a')

[]

In [15]:
soup.find_all('div')

[]

In [32]:
soup.find('table').find_all('tr', class_ = 'employee')[0].find_all('td')[2].text

'28'

In [33]:
for employee in soup.find('table').find_all('tr', class_ = 'employee'):
    print(employee.find_all('td')[2].text)

28
32
24
29
35
27
31
33

In [34]:
age = []

for employee in soup.find('table').find_all('tr', class_ = 'employee'):
    age.append(employee.find_all('td')[2].text)

In [35]:
age

['28', '32', '24', '29', '35', '27', '31', '33']

In [37]:
df = pd.DataFrame({
    'age': age
})

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     8 non-null      object
dtypes: object(1)
memory usage: 196.0+ bytes

In [39]:
# use this to covert object to number

import pandas as pd
df['age'] = pd.to_numeric(df['age'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     8 non-null      int64
dtypes: int64(1)
memory usage: 196.0 bytes

In [41]:
# get the average of age

import pandas as pd
import requests
from bs4 import BeautifulSoup

response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text
soup = BeautifulSoup(response, 'html.parser')

age = []
for employee in soup.find('table').find_all('tr', class_='employee'):
    age.append(employee.find_all('td')[2].text)

df = pd.DataFrame({'age': age})
df['age'] = pd.to_numeric(df['age'], errors='coerce')

# Calculate the average age, ignoring NaN values
average_age = df['age'].mean()
print(f"The average age is: {average_age}")

The average age is: 29.875

In [42]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text
soup = BeautifulSoup(response, 'html.parser')

age = []
for employee in soup.find('table').find_all('tr', class_='employee'):
    age.append(employee.find_all('td')[2].text)

df = pd.DataFrame({'age': age})
df['age'] = pd.to_numeric(df['age'], errors='coerce')

# Calculate the average age, ignoring NaN values
average_age = df['age'].mean()
print(f"The average age is: {average_age}")

The average age is: 29.875

In [50]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text
soup = BeautifulSoup(response, 'html.parser')

age = []
for employee in soup.find('table').find_all('tr', class_='employee'):
    age.append(employee.find_all('td')[2].text)

df = pd.DataFrame({'age': age})
df['age'] = pd.to_numeric(df['age'], errors='coerce')

# Calculate the standard deviation of age, ignoring NaN values
std_dev_age = df['age'].std()
print(f"The standard deviation of age is: {std_dev_age}")

The standard deviation of age is: 3.563204817496262